name: Teckstack
on:
  workflow_dispatch:
jobs:
  codex:
    runs-on: ubuntu-latest
    outputs:
      final_message: ${{ steps.run_codex.outputs.final-message }}
    steps:
      - name: Install Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install context7 MCP
        run: npm install -g @upstash/context7-mcp@v1.0.26

      - name: Start MCP Server
        run: |
          cd $(npm root -g)/@upstash/context7-mcp
          bun run dist/index.js --transport http --port 8000 &

      - name: Run Codex
        id: run_codex
        uses: openai/codex-action@v1
        with:
          openai-api-key: ${{ secrets.OPENAI_API_KEY }}
          codex-args: |
            --config mcp_servers={'context7'={'url': 'http://localhost:8000/mcp']}}
          prompt: |
            あなたは優秀なソフトウェアエンジニアです。
            ユーザーコンテキストから技術選定を行なって欲しいです。
            技術選定を行うにあたって、テスト駆動開発を行うので必ず、テストフレームワークを取り入れて下さい。
            言語のフレームワークに備わっている場合は追加が必要か状況に応じて判断して下さい。
            その他ライブラリについても状況に応じて選定を行なって下さい。

            - パッケージマネージャー
            - 言語
            - フレームワーク
              - テスト
              - CSS
            - ライブラリ
              - デザインコンポーネント

            ユーザーコンテキスト:

            ---
            本を管理するアプリを作成したいです。
            ---
  create_issue:
    runs-on: ubuntu-latest
    needs: codex
    if: needs.codex.outputs.final_message != ''
    permissions:
      issues: write
    steps:
      - name: Create Report Issue
        env:
          GH_TOKEN: ${{ github.token }}
          REPO: ${{ github.repository }}
          CODEX_FINAL_MESSAGE: ${{ needs.codex.outputs.final_message }}
        run: gh issue create --title "技術仕様" --body "$CODEX_FINAL_MESSAGE" --repo "$REPO"

